* {
    margin: 0;
}
header {
    background-image: url(./bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;
}
.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
.nav1 a {
    font-size: 50px;
    color: aliceblue;
    text-decoration: none;
}
.nav2 {
    display: flex;
    gap: 20px;
}
.nav2 a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}
header h1 {
    font-size: 92px;
    color: aliceblue;
    text-align: center;
    padding-top: 200px;
}